header{
    background-color: #FFFFFF;
}
div.ikonat.twiter a:hover{
    background-color:darkorange;
}
.sing_login_rss_archived{
    float:right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;  
    margin-top: -2em;  
    margin-right: 1em;
} 

a{
    color:#97455F;
    text-decoration: none;

}
a:hover{
    color: steelblue;
}
header img {
    background-color: white;
    margin-top: 1em;
    margin-left: 1em;
}
hr
{
    background-color:#97455F;
}
body{
    
    background-color: #EBEBEB;
}
section p{
    font-size: 40px;
    color: #333333;
    margin-top: 2.5em;
}
div p
{
	margin-left: 1em;
}	
.firstLetter{
    font-size:55px;
    margin-left: 0.25em;
}
.searchi{
    float:right;
    margin-right: 1em;
    margin-top: -2.5em;
    letter-spacing: -1em;
}
ul li{
    list-style: none;
    display: inline;
    
}

.searchi ul li button{
    background-color: #97455F;
    color: white;
    border-color: #97455F;
    border-style: solid;
    border-bottom-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-width: 0.5em;
}
input{
    background-color: white;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    border-style: solid;
    border-width: 0.5em;
    border-color: white;

}
.ikonat ul li button{

    background-position: 5px 4px;
    background-color: rgb(159, 159, 185);
    border:none;
    width: 1.85em;
    height: 24px;
    border-radius: 0.925em;
    margin-top: 0.8em;
   
}

.ikonat ul li
{
    margin-left: 8px;
    margin-top: 3px;
    padding-top: 16px;
}
.mySlides 
{
	display:none
}
.w3-left, .w3-right, .w3-badge 
{
	cursor:pointer;
}

/*.w3-badge 
{
	height:13px;width:13px;padding:0;
}*/
.w3-badge
{
	border-radius:50%
}
.w3-border
{
	border:1px solid #ccc!important
}
.w3-hover-white:hover
{
	color:#000!important;
	background-color:#fff!important
}
.mySlides
{
	
	width: 900px;
	height: 350px;
	position: absolute;
	left:59.2px;/*3.7em*/ 
}
.w3-display-bottommiddle
{
	position:absolute;
	left:50%;
	bottom:0;
	transform:translate(-50%,0%);
	-ms-transform:translate(-50%,0%);
}
/*.w3-center
{
	text-align:center!important
}*/
.w3-hover-text:hover
{
	color:white!important
}
.w3-hover-text:visited
{
	background:white;
	border:black;
}
/*.w3-large
{
	font-size:18px!important
}*/
.w3-left
{	margin-bottom:9.5em;
	margin-right: 50em;
	
	float:right;	 
}
.w3-left1
{	margin-bottom:9.5em;
	margin-right: .1em;
	float:right;
}

